<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Конвертер Валют</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Конвертер</h1>
            <form th:action="@{/}" th:object="${conversion}"  method="post">

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select th:field="*{currencyFromCode}" id="inputFrom" class="custom-select">
                            <option th:each="currency : ${currenciesList}"
                                    th:text="'(' + ${currency.charCode} + ') ' + ${currency.name}"
                                    th:value="${currency.numCode}"></option>
                        </select>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('amount')}? 'has-error':''">
                            <input th:field="*{amount}" type="text" class="form-control" id="amount">
                            <p class="error-message"
                               th:each="error : ${#fields.errors('amount')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <select th:field="*{currencyToCode}" id="inputTo" class="custom-select">
                            <option th:each="currency : ${currenciesList}"
                                    th:text="'(' + ${currency.charCode} + ') ' + ${currency.name}"
                                    th:value="${currency.numCode}"></option>
                        </select>
                        <input th:field="*{result}" type="text" class="form-control" id="result">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="convert-submit"
                                   id="convert-submit"
                                   class="form-control btn btn-primary my-1"
                                   value="Конвертировать"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a href="/history" th:href="@{/history}">История операций</a></span>
                </div>
            </form>
        </div>
    </div>


</div>

</body>
</html>